<!-- web/templates/create_chat.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Создать чат</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    <script src="/static/js/app.js" defer></script>
</head>
<body>
    <h1>Создание новой чат-комнаты</h1>

    <!-- Кнопка выхода -->
    <a href="/messenger/lobby">Выйти</a>

    <!-- Отображение ошибок -->
    <div id="chat-message">
        {{if .error}}
            <p style="color: red;">{{.error}}</p>
        {{end}}
    </div>

    <!-- Форма создания комнаты -->
    <h2>Создать чат-комнату</h2>
    <form id="create-chat-form" action="/messenger/create_chat" method="post">
        <label for="algorithm">Алгоритм:</label>
        <select name="algorithm" id="algorithm" required>
            <option value="loki97">Loki97</option>
            <option value="rc5">RC5</option>
        </select><br>

        <label for="mode">Режим:</label>
        <select name="mode" id="mode" required>
            <option value="ECB">ECB</option>
            <option value="CBC">CBC</option>
            <option value="CFB">CFB</option>
            <option value="OFB">OFB</option>
            <option value="CTR">CTR</option>
            <option value="RandomDelta">Random Delta</option>
        </select><br>

        <label for="padding">Набивка:</label>
        <select name="padding" id="padding" required>
            <option value="Zeros">Zeros</option>
            <option value="ANSIX923">ANSIX923</option>
            <option value="PKCS7">PKCS7</option>
            <option value="ISO10126">ISO10126</option>
        </select><br>

        <!-- Новое поле для имени пользователя для приглашения -->
        <label for="invitee_username">Имя пользователя для приглашения:</label>
        <input type="text" name="invitee_username" id="invitee_username" required><br>

        <button type="submit">Создать комнату</button>
    </form>

</body>
</html>
